@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* 1vh= 1% */
    background-color: white;

}

nav{
    display: flex;
    width: 90%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

nav .logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* pseudo class-to get specialm effect on mouse hover 


selector:pseudo-class-name{property:value}*/

nav ul li a:hover{
    color:red;
}

.title{
    margin-left: 8%;
    margin-top: 13%;
}

.title h1{
    font-size: 50px;
    color:black;
    margin-bottom: 20px;
}

.title span{
    color: rgb(20, 245, 20);
}

.title p{
    color: #555;
    line-height: 30px;
}

.title a{
    background-color: black;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0px;
   
}

.images img{
    margin-top: 40px;
}

#about{
    margin-right:8%;
    margin-top:13% ;
    margin-left: 8%;
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: 40px;
}
.heading span{
    font-size: 25px;
    color: rgb(201, 5, 201);
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about-img img{
   width: 70%;
   border-radius: 8px;
}
.about-text{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}
.information{
    margin: 1rem 0 1.4rem;
}

.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.information .info-box span{
    font-weight: 500;
    margin-left: 15px;
}

#skills{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.skill-img img{
    width: 70%;
    object-position: center;
    padding-left: 4rem;
}
.bar-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.bar-box h3{
    font-size: 25px;
    font-weight: 800;
}

.bar-box span{
    font-size: 23px;
    font-weight: 700;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(163, 241, 6);
    border-radius: 8px;
}

.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
   background-color: black;
    border-radius: 8px;
}

.html-bar{
    width: 94%;
}

.css-bar{
    width: 92%;
}

.js-bar{
    width:88% ;
}

.angular-bar{
    width: 84%;
}


#contact{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}

.iconDiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background-color: aqua;
    
}

.icon i{
    font-size: 20px;
}

.icon i:hover{
    color: red;
}

footer{
    margin-top: 2rem;
    font-weight: bolder;
}






















